* {
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(244, 246, 248);
}


.product-image img {
    max-width: 100px;
}

.shopping-cart,
.personal-account {
    border: 1px solid rgb(202, 197, 197);
}

header {
    height: 280px;
    background: rgb(244, 246, 248);
    text-align: start;
    margin-top: 50px;
}

header h1 {
    font-size: 36px;
}

main {
    margin-top: -150px;
}

.product-description,
.product-brand {
    font-size: 14px;
}

.prices {
    margin-left: -90px;
}

.current-price {
    font-size: 18px;
    font-weight: 600;
    margin-top: -5px;
}

.price {
    font-size: 14px;
}

.heart-btn img {
    width: 22px;
}

/* .procuct-container {
    max-width: 1200px;
} */

.coupon-div {
   max-width: 350px;
}

.Cards img {
    width: 45px;
    height: 30px;
    display: inline-flex;
}
svg{
    width: 25px;
    justify-content: center;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
